body{
background-color: rgb(234, 236, 235);
}

.bg{

background-color: rgba(37, 32, 32, 0.555);
display: inline-grid;
padding: 10px;
text-align: justify;
position: absolute;
width: 20%;
height: 100%;

}
.menu{
   margin: 10px 15px 20px 25px;
display: inline-block;
position: relative;
left: 60%;

}